<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Rajbhog</title>
</head>
<body>
    <section class="menu"> 
        <div class="nav">
            <div class="logo"> <h1>Raj<b>Bhog</b></h1></div>
            <ul>
                <li><a class="current" href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <div>
                <input class="signin" type="submit" value="Sign In" name="Signin">
                <input class="signup" type="submit" value="Sign Up" name="Signup">
            </div>
        </div>
    </section>
    <section class="grid">
        <div class="content">
            <div class="content-1">
                <div class="info">
                    <h2 class="color">G<b>OO</b>d  F<b>OO</b>d <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOOd MOOd</h2>
                    <p>The good food choices are Good Investments, 
                        <br>Our delicious Cuisines is waiting for you</p>
                        
                </div>
                <button>Order Food Now</button>
            </div>
            <div class="pic-icon">
                <div class="content-2"></div>
                    <div class="social-media">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
            </div>
        </div>
    </section>
    <section class="category">
        <div class="items">
            <h3>Star Plates</h3>
            <div class="dish-list">
                <div class="dish1">
                    <img src="/Rajbhog/Static/Image/tawa_pulao_featured.png">
                    <div class="dish-name1">
                        <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tawa Pulao</h1>
                    </div>
                    <div class="dish-desc1">
                        <p>cc.</p>
                    </div>
                    <div class="dish-pp1">
                        <span><b>Rs.165/-</b></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>