<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <title>Rajbhog</title>
</head>
<body>
    <section class="menu"> 
        <div class="nav">
            <div class="logo"> <h1>Raj<b>Bhog</b></h1></div>
            <ul>
                <li><a class="current" href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
            <div>
                <input class="signin" type="submit" value="Sign In" name="Signin">
                <input class="signup" type="submit" value="Sign Up" name="Signup">
            </div>
        </div>
    </section>

<section class="grid">
    <div class='content'>
        <div class="content-1">
            <div class="info">
                <h2 class="color">G<b>OO</b>d  F<b>OO</b>d <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GOOd MOOd</h2>
                <p>The good food choices are Good Investments, 
                    <br>Our delicious Cuisines is waiting for you</p>        
            </div>
            <button>Order Food Now</button>
        </div>
        <div class="content-2">
            
        </div>
        <div class="content-3">
            <div><i class="fa-brands fa-facebook fa-2xl" ></i></div>
            <div><i class="fa-brands fa-twitter fa-2xl" ></i></div>
            <div><i class="fa-brands fa-instagram fa-2xl"></i></div>
            <div><i class="fa-brands fa-whatsapp fa-2xl"></i></div>
        </div>
    </div>
</section>






    <section class="category">
        <div class="items">
            <h3>Star Plates</h3>
            <div class="dish-list">
                <div class="dish1">
                    <div class='img'>
                        <img src="../Static/Image/veg thali.png" width="180px" height="100px">
                    </div>
                    <div class="dish-name1">
                        <h1>Veg Thali</h1>
                    </div>
                    <div class="dish-desc1">
                        <p>In this veg thali platter featuring rice, chapati, dal, mixed vegetables, paneer curry, raita by adding some desi tadka! with indian achaar, and mithai like Gulabjamun or Rasugulla.</p>
                    </div>
                    <div class="dish-pp1 last">
                        <div class='price-cart'>
                        <div><span><b>Rs.165/-</b></span></div>
                        <div><i class="fa-solid fa-cart-shopping fa-xl" style="color: #e25c03;"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>